services:

  mysql:
    image: mysql:8.3
    container_name: mysql
    restart: always
    environment:
      MYSQL_DATABASE: patientdb
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: medilabo
      MYSQL_PASSWORD: medilabo
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql


  patient_ms:
    build: ./patient_ms
    container_name: patient_ms
    ports:
      - "8082:8082"
    depends_on:
      - mysql


  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "8081:8081"
    depends_on:
      - patient_ms


  client:
    build: ./client
    container_name: client
    ports:
      - "8080:8080"
    depends_on:
      - gateway

volumes:
  mysql-data:
