services:
  mysql:
    image: mariadb:10.5
    container_name: mysql
    hostname: mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: admin
      MARIADB_DATABASE: patients_db
      MARIADB_USER: root
      MARIADB_PASSWORD: admin
    networks:
      - medilab_network  # Ajout du réseau personnalisé

  patientms:
    build: ./patientms
    container_name: patientms
    ports:
      - "8082:8082"
    depends_on:
      - mysql
    networks:
      - medilab_network  # Ajout du réseau personnalisé

  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "8081:8081"
    depends_on:
      - patientms
    networks:
      - medilab_network  # Ajout du réseau personnalisé

  client:
    build: ./client
    container_name: client
    ports:
      - "8080:8080"
    depends_on:
      - gateway
    networks:
      - medilab_network  # Ajout du réseau personnalisé

networks:
  medilab_network:
    driver: bridge  # Création du réseau personnalisé
